asgiref==3.7.2
crispy-bootstrap5==2023.10
distlib==0.3.7
Django==4.1.7
django-crispy-forms==2.1
django-registration-redux==2.13
filelock==3.13.1
fontawesomefree==6.5.1
future==0.18.3
platformdirs==4.1.0
psycopg2==2.9.9
psycopg2-binary==2.9.6
python-git==2018.2.1
Send2Trash==1.8.2
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.25.0
